<html>
  <head>
    <title>monument</title>
  </head>
  <body>
    <div>
      <h1>
        <a href="">monument blog</a>
      </h1>
    </div>
    <div>
      <p>published: 22.10.2016, 12:14 </p>
      <h2><a href="">мой первый блог</a></h2>
      <p>маша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашу
        маша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашу
        маша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашу
      </p>
    </div>
    <div>
      <p>published: 22.10.2016, 12:35 </p>
      <h2><a href="">мой второй блог</a></h2>
      <p>маша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашу
        маша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашу
        маша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашумаша ела кашу
      </p>
    </div>
  </body>
</html>
